In [5]:
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

In [6]:
transactions=[['eggs','milk','bread'],
              ['eggs','apple'],
              ['milk','bread'],
              ['apple','milk'],
              ['milk','apple','bread']]

from mlxtend.preprocessing import TransactionEncoder

In [7]:
from mlxtend.preprocessing import TransactionEncoder

In [8]:
te=TransactionEncoder()
te_array=te.fit(transactions).transform(transactions)

In [9]:
df=pd.DataFrame(te_array,columns=te.columns_)

In [10]:
df

   apple  bread   eggs   milk
0  False   True   True   True
1   True  False   True  False
2  False   True  False   True
3   True  False  False   True
4   True   True  False   True

In [11]:
freq_items=apriori(df,min_support=0.5,use_colnames=True)

In [12]:
print(freq_items)

   support       itemsets
0      0.6        (apple)
1      0.6        (bread)
2      0.8         (milk)
3      0.6  (milk, bread)

In [15]:
rules=association_rules(freq_items,metric='support',min_threshold=0.05)
rules=rules.sort_values(['support','confidence'],ascending=[False,False])

In [16]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
1,(bread),(milk),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
0,(milk),(bread),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0