In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
transactions=[['Bread','Milk'],
              ['Bread','Diaper','Beer','Eggs'],
              ['Milk','Diaper','Beer','Coke'],
              ['Bread','Milk','Diaper','Beer'],
              ['Bread','Milk','Diaper','Coke']]

from mlxtend.preprocessing import TransactionEncoder

In [3]:
from mlxtend.preprocessing import TransactionEncoder

In [4]:
te=TransactionEncoder()
te_array=te.fit(transactions).transform(transactions)

In [6]:
df=pd.DataFrame(te_array,columns=te.columns_)

In [7]:
df

    Beer  Bread   Coke  Diaper   Eggs   Milk
0  False   True  False   False  False   True
1   True   True  False    True   True  False
2   True  False   True    True  False   True
3   True   True  False    True  False   True
4  False   True   True    True  False   True

In [8]:
freq_items=apriori(df,min_support=0.5,use_colnames=True)

In [9]:
print(freq_items)

   support         itemsets
0      0.6           (Beer)
1      0.8          (Bread)
2      0.8         (Diaper)
3      0.8           (Milk)
4      0.6   (Beer, Diaper)
5      0.6  (Diaper, Bread)
6      0.6    (Milk, Bread)
7      0.6   (Milk, Diaper)

In [10]:
rules=association_rules(freq_items,metric='support',min_threshold=0.05)
rules=rules.sort_values(['support','confidence'],ascending=[False,False])

In [11]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Beer),(Diaper),0.6,0.8,0.6,1.00,1.2500,0.12,inf,0.50
1,(Diaper),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6,1.00
2,(Diaper),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
3,(Bread),(Diaper),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
4,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
5,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
6,(Milk),(Diaper),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
7,(Diaper),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25